In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_excel('C://Users//S1130863//Downloads/diss/curated_data.xlsx',sheet_name = 'LBlast_Others_Final')

In [4]:
dataset

,Observation Year,Standard Week,MAXT,MINT,RH1,RH2,RF,WS,SSH,EVP,...,YSB,LB_binary,GM_binary,GLH-binary,YSB-binary,BPH-binary,CW-binary,LF-binary,MrdB-binary,Others-binary
0,1993,1,29.1,12.8,75.9,29.6,0.0,2.1,9.6,3.2,...,0,0,0,0,0,0,0,0,0,0
1,1993,2,31.1,13.1,72.6,27.3,0.0,1.7,10.2,3.2,...,0,0,0,0,0,0,0,0,0,0
2,1993,3,30.7,13.1,75.3,28.3,0.0,1.8,9.9,3.0,...,0,0,0,0,0,0,0,0,0,0
3,1993,4,30.3,11.4,74.0,29.6,0.0,1.7,9.9,3.1,...,0,0,0,0,0,0,0,0,0,0
4,1993,5,30.5,12.7,76.3,27.1,0.0,2.2,10.0,3.1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,2001,45,31.1,19.4,86.4,44.1,0.0,3.2,7.8,4.2,...,8,0,1,1,0,0,0,0,1,1
412,2001,46,30.6,19.9,74.0,48.3,0.0,3.1,8.6,4.4,...,9,0,1,1,0,0,0,1,1,1
413,2001,47,30.2,15.4,84.0,39.7,0.0,1.9,8.8,3.5,...,9,0,1,1,0,0,0,1,1,1
414,2001,49,29.8,9.6,76.0,26.3,0.0,1.6,10.1,3.5,...,0,0,0,0,0,0,0,1,1,1
415,2001,50,30.4,11.7,83.0,32.4,0.0,1.7,9.7,3.4,...,0,0,0,0,0,0,0,0,1,1

In [123]:
years = sorted(dataset.loc[:,'Observation Year'].unique().tolist())
years

[1993, 1994, 1995, 1996, 1998, 1999, 2000, 2001]

In [124]:
import random
#selectedyears = random.sample(years,6)
selectedyears = years[:6]
selectedyears

[1993, 1994, 1995, 1996, 1998, 1999]

In [125]:
data_train = dataset[dataset['Observation Year'].isin(selectedyears)]

In [126]:
data_test = dataset[~dataset['Observation Year'].isin(selectedyears)]

In [113]:
data_test

,Observation Year,Standard Week,MAXT,MINT,RH1,RH2,RF,WS,SSH,EVP,...,YSB,LB_binary,GM_binary,GLH-binary,YSB-binary,BPH-binary,CW-binary,LF-binary,MrdB-binary,Others-binary
31,1994,8,33.2,16.5,73.4,29.6,0.0,5.3,11.2,3.7,...,0,0,0,0,0,0,0,0,0,0
32,1994,22,40.1,26.6,60.3,28.3,0.0,6.4,11.4,7.7,...,0,0,0,0,0,0,0,0,0,0
33,1994,25,32.7,24.1,76.6,45.9,3.4,14.1,5.9,6.0,...,0,0,0,0,0,0,0,0,0,0
34,1994,26,33.3,23.6,79.3,49.6,16.7,13.9,6.7,5.8,...,0,0,0,0,0,0,0,0,0,0
35,1994,47,28.3,12.7,75.0,45.4,0.0,3.1,9.2,2.8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,2000,41,32.5,21.4,88.9,51.1,8.4,1.1,6.7,2.9,...,423,1,1,1,1,1,0,0,0,1
371,2000,42,31.6,21.1,86.3,49.1,12.8,1.9,6.0,3.4,...,204,1,1,1,1,1,0,0,0,1
372,2000,43,33.4,17.6,79.7,33.6,0.0,1.5,9.4,4.7,...,143,1,1,1,1,1,0,0,0,1
373,2000,45,31.3,16.2,83.7,38.0,0.0,2.1,9.4,4.1,...,155,0,1,1,1,1,0,0,0,1
374,2000,46,30.4,13.7,79.0,37.3,0.0,2.2,10.0,3.8,...,5,0,1,0,0,1,0,0,0,1

In [56]:
X = dataset.loc[:, ['MAXT','MINT','RH1','RH2','RF','WS','SSH','EVP','GM_binary','GLH-binary','YSB-binary','Others-binary']]
y = dataset.loc[:, ['LB_binary']]

In [127]:
X_train = data_train.loc[:, ['MAXT','MINT','RH1','RH2','RF','WS','SSH','EVP','GM_binary','GLH-binary','YSB-binary','Others-binary']]
X_test = data_test.loc[:, ['MAXT','MINT','RH1','RH2','RF','WS','SSH','EVP','GM_binary','GLH-binary','YSB-binary','Others-binary']]
y_train = data_train.loc[:, ['LB_binary']]
y_test = data_test.loc[:, ['LB_binary']]

In [57]:
X

,MAXT,MINT,RH1,RH2,RF,WS,SSH,EVP,GM_binary,GLH-binary,YSB-binary,Others-binary
0,29.1,12.8,75.9,29.6,0.0,2.1,9.6,3.2,0,0,0,0
1,31.1,13.1,72.6,27.3,0.0,1.7,10.2,3.2,0,0,0,0
2,30.7,13.1,75.3,28.3,0.0,1.8,9.9,3.0,0,0,0,0
3,30.3,11.4,74.0,29.6,0.0,1.7,9.9,3.1,0,0,0,0
4,30.5,12.7,76.3,27.1,0.0,2.2,10.0,3.1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
411,31.1,19.4,86.4,44.1,0.0,3.2,7.8,4.2,1,1,0,1
412,30.6,19.9,74.0,48.3,0.0,3.1,8.6,4.4,1,1,0,1
413,30.2,15.4,84.0,39.7,0.0,1.9,8.8,3.5,1,1,0,1
414,29.8,9.6,76.0,26.3,0.0,1.6,10.1,3.5,0,0,0,1
415,30.4,11.7,83.0,32.4,0.0,1.7,9.7,3.4,0,0,0,1

In [58]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1, stratify=y)

In [59]:
X_train

,MAXT,MINT,RH1,RH2,RF,WS,SSH,EVP,GM_binary,GLH-binary,YSB-binary,Others-binary
134,40.7,24.0,38.1,18.1,2.6,3.300000,10.7,9.600000,0,0,1,0
142,29.1,17.3,76.4,40.1,5.4,5.300000,7.2,2.900000,0,0,0,0
319,33.1,23.3,84.6,57.0,15.2,5.400000,7.0,3.400000,1,1,0,0
114,33.2,14.6,79.0,23.1,0.0,2.900000,10.5,5.600000,0,0,0,0
231,28.7,13.9,90.7,45.9,0.0,3.000000,9.2,3.700000,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
350,28.3,20.1,90.1,56.6,122.1,5.200000,6.1,4.500000,1,1,1,0
55,29.4,11.4,85.6,29.6,8.0,6.133333,8.2,18.666667,0,0,0,0
63,32.4,23.5,80.6,52.0,15.8,7.500000,9.5,5.900000,0,0,0,0
194,29.9,23.0,80.4,62.6,66.9,4.700000,1.5,4.200000,0,0,0,0
249,36.0,17.4,66.3,20.7,0.0,2.500000,10.5,6.400000,0,0,1,1

In [128]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_test = sc.transform(X_test)
X_train.iloc[:,:8] = sc.fit_transform(X_train.iloc[:,:8])
X_test.iloc[:,:8] = sc.transform(X_test.iloc[:,:8])

In [116]:
X_test

,MAXT,MINT,RH1,RH2,RF,WS,SSH,EVP,GM_binary,GLH-binary,YSB-binary,Others-binary
31,0.168793,-0.734175,-0.472570,-0.826246,-0.559402,0.341569,1.420463,-0.593031,0,0,0,0
32,1.937271,1.431360,-1.654921,-0.903505,-0.559402,0.723611,1.500662,0.868707,0,0,0,0
33,0.040643,0.895337,-0.183752,0.142466,-0.451506,3.397905,-0.704817,0.247469,0,0,0,0
34,0.194423,0.788132,0.059939,0.362357,-0.029442,3.328442,-0.384020,0.174382,0,0,0,0
35,-1.087082,-1.548931,-0.328161,0.112751,-0.559402,-0.422515,0.618470,-0.921922,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
370,-0.010618,0.316431,0.926395,0.451503,-0.292835,-1.117137,-0.384020,-0.885378,1,1,1,1
371,-0.241289,0.252109,0.691730,0.332642,-0.153205,-0.839288,-0.664718,-0.702661,1,1,1,1
372,0.220053,-0.498324,0.096041,-0.588525,-0.559402,-0.978213,0.698670,-0.227596,1,1,1,1
373,-0.318179,-0.798498,0.457065,-0.327033,-0.559402,-0.769826,0.698670,-0.446857,1,1,1,1
374,-0.548850,-1.334521,0.032862,-0.368634,-0.559402,-0.735095,0.939267,-0.556487,1,0,0,1

In [156]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

C:\Users\S1130863\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression(random_state=0)

In [157]:
y_pred = classifier.predict(X_test)

In [64]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0], dtype=int64)

In [131]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[88  4]
 [ 5  7]]

0.9134615384615384

In [132]:
from sklearn.metrics import recall_score, precision_score
recall_score(y_test, y_pred)

0.5833333333333334

In [133]:
precision_score(y_test, y_pred)

0.6363636363636364

In [134]:
from sklearn.metrics import f1_score
f1_score(y_test,y_pred)

0.6086956521739131

## Results of Logistic Regression

### achieving 58% f1 and 87% accuracy with a purely weather based model and random splitting in 70:30 ratio.

### achieving greater than 91% accuracy and 72% with a weather plus pest data and random splitting in 70:30 ratio.
### If Others is included 91% accuracy and 74% f1 with random split in 75:25, and in year-wise split again 87% acc an 60% f1.
### Most importantly, we get disastrous results if we pass weather and pest data without pest discretization, 47% f1 score

### achieving greater than 91% accuracy and 74% f1 with year wise splitting in 5:2 ratio and weather and pest data

## KNN with just weather based gave 82% accuracy and 49% f1 split randomly 70:30

### KNN with weather and pests split randomly achieved 89% accuracy and 71% f1

### KNN with weather and pests and year wise gave 86% accuracy and 65% f1

In [145]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

C:\Users\S1130863\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [158]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[88  4]
 [ 5  7]]

0.9134615384615384

In [149]:
from sklearn.metrics import recall_score, precision_score
recall_score(y_test, y_pred)

0.5

In [150]:
precision_score(y_test, y_pred)

0.3

In [151]:
from sklearn.metrics import f1_score
f1_score(y_test,y_pred)

0.37499999999999994

In [138]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

C:\Users\S1130863\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

### SVC Linear gave 87.2% accuracy and f1 61% with purely weather based
### with weather plus pest rando split 90% acc and 72% f1

In [140]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

C:\Users\S1130863\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

### SVC rbf gave 90% acc and 78% f1 with purely weather based
### 92% and  77% with weather plus pest random split

### SVC RBF gave 89% accuracy

In [148]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

C:\Users\S1130863\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

### Naive Bayes gave disastrous 94%
### 90% and 78% with weath plus pest random split

In [147]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

### Decision Tree gave disastrous results of 86.5% accuracy
### DT 91% and 75% with weather plus pest

In [152]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

C:\Users\S1130863\AppData\Local\Temp/ipykernel_63000/3949669689.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  classifier.fit(X_train, y_train)

### Random Forest gave around 86.5% accuracy.
### 90% and 69% weath plus pest randsplt

In [135]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)